<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.guanyin.sardar.pha">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name_shorter"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity
            android:name=".entrance.FunctionActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
        <activity android:name=".entrance.EntranceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".alert.ClockEditActivity">
        </activity>

        <receiver
            android:name=".alert.receiver.AlarmReceiver"
            android:exported="false"
            android:process=":remote">
        </receiver>

        <service android:name=".alert.service.MusicService"/>

        <activity android:name=".alert.receiver.AlarmReceiveActivity">
        </activity>
        <activity
            android:name=".mine.EnterInfoActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
        <activity
            android:name=".customview.CustomViewActivity"
            android:label="@string/title_activity_custom_view"
            android:theme="@style/NoActionBarTheme">
        </activity>
    </application>

</manifest>